* {
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  background:
  linear-gradient(
      rgba(0, 37, 97, 0.6),
      rgba(0, 37, 97, 0.6)
    ),
  url(idea.jpg);
  background-position: center center;
  background-size: cover;
  flex-grow: 1;
  position: relative;
  padding: 6rem 3rem;
  width: 100vw;
}

.headline {
  color: #fff;
  font-weight: 300;
  font-size: 90px;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  margin: 0;
}

.stats {
  position: absolute;
  bottom: 0;
  left: 0;
}

.email-container {
  background-color: #002561;
  width: 100vw;
  padding: 2rem 3rem 5rem;
}
