@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Raleway:400,400i,600');

:root {
  --primary-dark: #373737;
  --primary-light: #F8F8F8;
  --primary-grey: #C4C4C4;
  --pink: #E2789D;
  --pink-light: #FADBE6;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  min-width: 350px;
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  body {
    padding: 2rem 3rem;
  }
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 1.7;
  margin-bottom: 0;
}

/* When h2 is followed by paragraph and not image container */
h2 + p,
h3 + p {
  margin-top: 0;
}

.center {
  margin: 0 auto;
  max-width: 600px;
}

.headline {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.1;
  margin: 0;
  white-space: nowrap;
}

.headline--pre {
  display: block;
  font-size: 1.5rem;
  white-space: nowrap;
}

@media screen and (min-width: 600px) {
  .headline {
    font-size: 3rem;
    line-height: 1.4;
  }

  .headline--pre {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    font-size: 4rem;
    line-height: 1.4;
  }

  .headline--pre {
    font-size: 3rem;
  }
}

/*------------------------------------------------------------------------------
  LINKS
------------------------------------------------------------------------------*/

.link {
  color: var(--primary-dark);
  text-decoration: none;
}

nav .link {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--primary-light);
  font-weight: 600;
  transition: border-bottom 250ms ease-in;
}

nav .link:hover {
  border-bottom: 2px solid var(--primary-dark);
}

article .link {
  background-color: var(--primary-light);
  border-bottom: 1.5px solid var(--primary-dark);
  padding-bottom: 0.1rem;
  transition: border-bottom 250ms ease-in, background-color 250ms ease-in;
}

article .link:hover {
  background-color: var(--pink-light);
  border-bottom: 1.5px solid var(--pink-light);
}

/* These are only temporary */
.no-content {
  font-weight: 400;
  color: var(--primary-grey);
}

/* These are only temporary */
nav .no-content:hover {
  border-bottom: 2px solid var(--primary-light);
}

/*------------------------------------------------------------------------------
  NAVIGATION
------------------------------------------------------------------------------*/

.nav {
  border-top: 0.4rem solid var(--primary-dark);
  margin-top: 1.5rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.nav-list-item {
  display: inline;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*------------------------------------------------------------------------------
  ASSIGMENT ARTICLES (FADE IN ON SCROLL)
------------------------------------------------------------------------------*/

.assignment {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.assignment:not(:last-of-type) {
  border-bottom: 1px solid var(--primary-grey);
  padding-bottom: 2rem;
}

.has-js.assignment {
  opacity: 0;
  transform: translateY(10rem);
}

.assignment-headline {
  margin-top: 0;
}

.assignment.static {
  opacity: 1;
  animation: none;
  transform: none;
}

.img-desc {
  margin: 0.2rem 0 0;
  font-style: italic;
  font-size: 0.9rem;
}

.assignment-img {
  width: 100%;
}

.assignment-img {
  border: 1px solid var(--primary-grey);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
      transform: translateY(0);
  }
}

.genre {
  color: var(--pink);
  /*font-weight: 600;*/
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*------------------------------------------------------------------------------
  FADE IN
------------------------------------------------------------------------------*/

.fade-in {
  animation-name: slide-in;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
