@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

body {
  background-color: #FAFAFA;
  color: #150607;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  padding: 0.3rem 1rem;
}

@media screen and (min-width: 600px) {
  body {
    padding: 2rem 3rem;
  }
}

p {
  line-height: 1.4;
}

.center {
  margin: 0 auto;
  width: 70vw;
}

.headline {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.1;
  margin: 0;
  white-space: nowrap;
}

.headline--pre {
  display: block;
  font-size: 1.5rem;
  white-space: nowrap;
}

@media screen and (min-width: 600px) {
  .headline {
    font-size: 3rem;
    line-height: 1.4;
  }

  .headline--pre {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    font-size: 4rem;
    line-height: 1.4;
  }

  .headline--pre {
    font-size: 3rem;
  }
}

.link {
  color: #150607;
  font-weight: 700;
  text-decoration: none;
  transition: color 250ms ease-in;
}

.link:hover {
  color: #341BB1;
}

/*------------------------------------------------------------------------------
  NAVIGATION
------------------------------------------------------------------------------*/

.nav {
  border-top: 0.4rem solid #150607;
  margin-top: 1.5rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.nav-list-item {
  display: inline;
  text-transform: uppercase;
}

.assignment {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.has-js .assignment {
  opacity: 0;
  padding-top: 10rem;
}

.assignment-img {
  background-color: #9DA4E1;
  width: 100%;
}


@keyframes slide-in {
  from {
    opacity: 0;
    padding-top: 10rem;
  }
  to {
    opacity: 1;
    padding-top: 0;
  }
}

/*------------------------------------------------------------------------------
  FADE IN
------------------------------------------------------------------------------*/

.fade-in {
  animation-name: slide-in;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  /*animation-delay: 250ms;*/
  animation-timing-function: linear;
}
